/* CSS files add styling rules to your content */

body,
html {
  font-family: helvetica, arial, sans-serif;
  background-color: pink;
  margin: 0;
  overflow: hidden;
}

#play {
  background-color: transparent;
}

#next {
  background-color: transparent;
}