/* CSS files add styling rules to your content */

body,
html {
  font-family: helvetica, arial, sans-serif;
  background-color: #000;
  margin: 0;
  overflow: hidden;
}

audio {
  position: absolute;
  top: 5px;
  left: 5px;
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
  width: 300px;
  height: 25px;
}
